/.vs/CriteriaPatternExample/v16/.suo
/CriteriaPattern.Common/bin/Debug/CriteriaPattern.Common.dll
/CriteriaPattern.Common/bin/Debug/CriteriaPattern.Common.pdb
/CriteriaPattern.Common/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/CriteriaPattern.Common/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CriteriaPattern.Common/obj/Debug/CriteriaPattern.Common.csproj.AssemblyReference.cache
/CriteriaPattern.Common/obj/Debug/CriteriaPattern.Common.csproj.CoreCompileInputs.cache
/CriteriaPattern.Common/obj/Debug/CriteriaPattern.Common.csproj.FileListAbsolute.txt
/CriteriaPattern.Common/obj/Debug/CriteriaPattern.Common.dll
/CriteriaPattern.Common/obj/Debug/CriteriaPattern.Common.pdb
/CriteriaPattern.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/BuildScriptCache/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/BuildScriptCache/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/BuildScriptCache/8/74b3af62.dat
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/ModuleIds.xml
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/NamedArguments/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/NamedArguments/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/NamedArguments/9/415690f1.dat
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/ProjectModel/ProjectModel.dat
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/Resources/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/Resources/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/SymbolCache.bin
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/TagPrefixes/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/WordIndex/8/76ece33b.dat
/CriteriaPattern.Test1/_UpgradeReport_Files/UpgradeReport.css
/CriteriaPattern.Test1/_UpgradeReport_Files/UpgradeReport.xslt
/CriteriaPattern.Test1/_UpgradeReport_Files/UpgradeReport_Minus.gif
/CriteriaPattern.Test1/_UpgradeReport_Files/UpgradeReport_Plus.gif
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/TagPrefixes/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/TodoCache/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/TodoCache/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/TodoCache/1/4d9f8b97.dat
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/WebsiteFileReferences/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/WebsiteFileReferences/.version
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/WordIndex/.crc
/CriteriaPattern.Test1/_ReSharper.ConsoleTest/WordIndex/.version
/CriteriaPattern.Test1/bin/Debug/ConsoleTest.exe
/CriteriaPattern.Test1/bin/Debug/ConsoleTest.exe.config
/CriteriaPattern.Test1/bin/Debug/ConsoleTest.pdb
/CriteriaPattern.Test1/bin/Debug/ConsoleTest.vshost.exe
/CriteriaPattern.Test1/bin/Debug/ConsoleTest.vshost.exe.manifest
/CriteriaPattern.Test1/bin/Debug/CriteriaPattern.Common.dll
/CriteriaPattern.Test1/bin/Debug/CriteriaPattern.Common.pdb
/CriteriaPattern.Test1/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
/CriteriaPattern.Test1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CriteriaPattern.Test1/obj/Debug/ConsoleTest.csproj.FileListAbsolute.txt
/CriteriaPattern.Test1/obj/Debug/ConsoleTest.exe
/CriteriaPattern.Test1/obj/Debug/ConsoleTest.pdb
/CriteriaPattern.Test1/obj/Debug/CriteriaPattern.Test1.csproj.AssemblyReference.cache
/CriteriaPattern.Test1/obj/Debug/CriteriaPattern.Test1.csproj.CopyComplete
/CriteriaPattern.Test1/obj/Debug/CriteriaPattern.Test1.csproj.CoreCompileInputs.cache
/CriteriaPattern.Test1/obj/Debug/CriteriaPattern.Test1.csproj.FileListAbsolute.txt
/CriteriaPattern.Test1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CriteriaPattern.Test1/obj/Debug/ResolveAssemblyReference.cache
/CriteriaPattern.Test2/bin/Debug/ConsoleTest2.exe
/CriteriaPattern.Test2/bin/Debug/ConsoleTest2.exe.config
/CriteriaPattern.Test2/bin/Debug/ConsoleTest2.pdb
/CriteriaPattern.Test2/bin/Debug/ConsoleTest2.vshost.exe
/CriteriaPattern.Test2/bin/Debug/ConsoleTest2.vshost.exe.manifest
/CriteriaPattern.Test2/bin/Debug/CriteriaPattern.Common.dll
/CriteriaPattern.Test2/bin/Debug/CriteriaPattern.Common.pdb
/CriteriaPattern.Test2/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/CriteriaPattern.Test2/obj/x86/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CriteriaPattern.Test2/obj/x86/Debug/ConsoleTest2.csproj.FileListAbsolute.txt
/CriteriaPattern.Test2/obj/x86/Debug/ConsoleTest2.exe
/CriteriaPattern.Test2/obj/x86/Debug/ConsoleTest2.pdb
/CriteriaPattern.Test2/obj/x86/Debug/CriteriaPattern.Test2.csproj.AssemblyReference.cache
/CriteriaPattern.Test2/obj/x86/Debug/CriteriaPattern.Test2.csproj.CopyComplete
/CriteriaPattern.Test2/obj/x86/Debug/CriteriaPattern.Test2.csproj.CoreCompileInputs.cache
/CriteriaPattern.Test2/obj/x86/Debug/CriteriaPattern.Test2.csproj.FileListAbsolute.txt
/CriteriaPattern.Test2/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
